<section class="product-navigation">
	<a href="//well.com/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Well Health, Inc. 2015</span>
	<a href="//policy.well.com" class="right">&rsaquo;</a>
	<span class="span-right">Open Source Policies</span>
</section>